body {
    font-family: "Microsoft Yahei","Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB";
    margin: 0 auto;
    position: absolute;
    left: 50%;
    width: 1024px;
    margin-left: -512px;
  	text-algin:center;
    background-color: #e0efef;
}

.date-text {
    position: absolute;
    margin: 5px 0 0 800px;
    font-style: italic;
    font-size:10px;
}

/* US map */
.map circle {
    stroke: #FFFFFF;
    stroke-width: 1px;
    cursor: pointer;
}

/* d3-tip */
.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -4px 0 0 0;
    top: 100%;
    left: 0;
}
#map { 
    padding-top: 50px;  
    background-color:#ffffff;
  
}
#icon{
    color: #996600;

  
    }
hr{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.container-fluid{

background-color: #669999;
}

#header{
    border: 5px solid #669999;
    border-radius: 5px;
}